<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    <!-- {% load staticfiles %} -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    <table class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Contact</th>
          <th>Address</th>
          <th>BirthDate</th>
          <th>Teacher</th>
          <th>IsActive</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.contact }}</td>
          <td>{{ student.address }}</td>
          <td>{{ student.birth_date }}</td>
          <td>{{ student.teacher.contact }}</td>
          <td>{{ student.is_active }}</td>
          <td>
            <a href="show/{{ student.id }}"><span class="glyphicon glyphicon-pencil">Show</span></a>
            <a href="edit/{{ student.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
            <a href="delete/{{ student.id }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
    <center>
      <a href="new" class="btn btn-primary">Add New Record</a>
      <a href="/">Back</a>
    </center>
  </body>

</html>
